body{
	background-color: #a2d5ff;
	font-family: sans-serif;
	margin: 0;
}

.storinka{
	width: 960px;
	margin: 0 auto;
}

.verhne_menu{
	background-color: #fff;
	color: #555;
}

.verhne_menu li{
	float: left;
	list-style: none;
	display: inline-block;
}

.verhne_menu ul{

	padding: 0;
	margin: 0;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.verhne_menu a{
	
	text-decoration: none;
	color: #8c8c8c;
	display: block;
}

.poloska{
	text-align: right;
	background-color: #eee;
}
.poloska a{
	display: inline-block;
	padding: 5px;
}

.logotip2{
	display: inline-block;
}
.logotip{
	display: inline-block;
	background-image: url('logo.png');
	background-repeat: no-repeat;
	width: 165px;
	height: 75px;
}


.velyka-fotohrafiya{
	background-image: url('velyka-fotografiya.png');
	height: 370px;
	background-size: cover;
	/*background-size: contain;*/
	/*background-position: 0% 0%;*/
	text-align: center;
}

.misto{
	display: inline-block;
	width: 260px;
    vertical-align: top;
    margin-top: 25px;
    padding-left: 53px;
}
.misto span{
	width: 125px;
	display: inline-block;
	vertical-align: middle;
}
.misto a{
	overflow: hidden;

}

.misto span.m1{
	width: 90px;
}
.misto span.m2{
	width: 150px;
	padding-left: 10px;
}

.misto span.m2 a{
	font-weight: bold;
}



.tekst-poseredyni{
	padding-top: 100px;
	display: inline-block;
	text-align: center;
	width: 800px;
	font-size: 50px;
	color: #fff;
}
span.fon{
	padding: 10px;
	display: inline-block;	
	background-color: rgba(0,0,0,0.1);
}

ul.menu {
	display: inline-block;
    vertical-align: top;
    margin-top: 21px;
    width: 450px;
}

.verhne_menu ul.menu a{
	font-weight: bold;
	padding: 10px 15px;
}


.velyka_knopka_poseredyni {
	display: block;
	margin-top: 20px;
}
.velyka_knopka_poseredyni .knopka{
	display: inline-block;
	padding: 10px 20px;
	background-color: darkgoldenrod;
	border: 0;
	text-transform: uppercase;
	color: #fff;
	font-weight: bold;
	font-size: 16px;
}

@media screen and (max-width: 900px) {
	.storinka{
		width: 100%;
	}
	.verhne_menu li{
		float: none;
		display: block;
	}

	.verhne_menu .logotip{
		/*display: block;*/
	}
	.verhne_menu .logotip2{
		display: block;
	}

	.verhne_menu .misto{
		width: 100%;
		text-align: center;
		padding: 0;
		padding-bottom: 20px;
	}

	.verhne_menu .misto span.m1{
		width: 100%;
	}
	.verhne_menu .misto span.m2{
		width: 100%;

	}
	.verhne_menu .tekst-poseredyni{
		width: 100%;
	}

	.verhne_menu ul.menu{
		text-align: center;
	}

	.verhne_menu .logotip2{
		text-align: center;
	}
	.verhne_menu .logotip2 .logotip{
		display: inline-block;
	}

	.verhne_menu ul.menu{
		width: 100%
	}


	.velyka-fotohrafiya .tekst-poseredyni{
		/*padding-top: 0;*/
		display: inline-block;
		text-align: center;
		width: 100%;
		font-size: 20px;
		color: #fff;
	}
}



.bilyy_fon{
	background-color: #fff;
}

.blog-stroka::after{
	content: "";
	clear: both;
	display: table;
}

.post-kolonka{
	width:223px;
	float: left;
}
.post-kolonka img{
	max-width: 100%;
}


.post-kolonka .vremya{
	font-size: 14px;
	color: #666;
	padding: 3px 0;
}
.post-kolonka .tekst{
	font-size: 14px;
	font-weight: bold;
	color: #444;
	padding: 5px 0;
}

.pad{
	padding: 10px;
}

.k-liva-1{
	width: 70%;
}
.k-prava-1{
	width: 30%;
}

.stroka::after{
	content: "";
	clear: both;
	display: table;
}
.kolonka{
	float: left;
}

.blog-stroka .fix_left{
	position: relative;
	left: -10px;
}

.zagolovok-1{
	text-transform: uppercase;
	color: #555;
	border-bottom: solid 2px darkgoldenrod;

	margin: 5px 0;
	padding: 5px 0;
	margin-right: 20px;
}


h2.zagolovok-1{
	font-size: 20px;
}


@media screen and (max-width: 900px) {

	.post-kolonka{
		width: 100%;

	}

	.k-liva-1{
		width: 100%;
	}
	.k-prava-1{
		width: 100%;
	}

	.blog-stroka .fix_left{
		/*left: 0px;*/
	}

	.k-liva-1 .vidstup{
		padding-left: 20px;
		
	}

	.k-prava-1 .vidstup{
		padding: 0 20px;
		
	}

	.k-prava-1 .zagolovok-1{
		margin-right: 0;
	}
}



.shche_odne_menyu{
	list-style: none;
	margin: 0;
	padding: 0;
}
.shche_odne_menyu a{
	display: block;
	text-decoration: none;
	color: #666;
	border-bottom: solid 1px #ccc;
	font-size: 14px;
	padding: 10px 0;
	font-weight: bold;
}
.shche_odne_menyu a:hover{
	color: darkgoldenrod;
}