.logo .logo_inside{
	padding: 10px;
	background-color: royalblue;
	display: inline-block;
	color: #fff;
}


.wrapper{
	padding: 20px;
}

.center_page{
	max-width: 800px;
	margin: 0 auto;
	background-color: #fff;
}


body{
	background-color: #ccc;
}


.right_area{
	float: left;
	width: 50%;
	text-align: right;
}
.left_area{
	float: left;
	width: 50%;
}

.row2::after {
  content: "";
  clear: both;
  display: table;
}

.bg_zelen{
	/*background-color: #6BC53C;*/
}


.spisok_stolov .stol{
	border: solid 1px #ccc;
	padding: 10px;
}

.stol_nazvanie{
	padding:0 0 5px 0;
}